<div class="container">
  <h1 class="title">Anonymous chat</h1>
  <app-userName (userNameEvent)="userNameUpdate($event)" *ngIf="!userName"></app-userName>
  <div class="chatbox">
    <div class="chatbox__user-list">
      <h2>User list</h2>
      <div class="chatbox__user--active" *ngFor="let user of userList" >
        <p class="name">{{ user }}</p>
      </div>
    </div>
    <div class="messages_list">
      <div
        class="chatbox__messages"
        *ngFor="let msg of messageList"
        [ngClass]="{mine: msg.mine}"
      >
        <div class="user-message">
          <div class="message-box">
            <p class="name">{{ msg.userName }}</p>
            <p class="message">{{ msg.message }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form">
    <textarea
      class="form__input"
      type="text"
      [(ngModel)]="message"
      maxlength="150"
      rows="3"
      cols="40"
      placeholder="Enter a message"
    >
    </textarea>
    <button class="button is-primary" (click)="sendMessage()">Send</button>
  </div>
</div>
