.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 10px 0;

  &__input {
    resize: none;
    border-radius: 3px;
    margin: 10px 0;

    &::placeholder {
      font-size: 20px;
      text-align: center;
    }
  }
}

.chatbox {
  background: rgb(255, 255, 255, 0.3);
  width: 80%;
  height: 75%;
  .messages_list {
    overflow-y: auto;
    max-height: 100%;
  }
  &__messages {
    &.mine .message-box {
      float: right;
    }
    .message-box {
      float: left;
    }
  }
  .message-box {
    background: rgba(255, 255, 255, 0.2);
    padding: 1em;
    height: auto;
    width: 55%;
    border-radius: 5px;
    margin: 2em 1em;
  }
  &__user-list {
    background: rgba(255, 255, 255, 0.1);
    width: 25%;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__user {
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
    margin: 1em 0.7em;
  }
}

.message {
  background-color: transparent;
  overflow: hidden;
  overflow-wrap: break-word;
}

.name {
  font-weight: 500px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.9);
}

