* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  background-size: 300% 300%;
  background: linear-gradient(0deg, rgba(107,110,163,1) 28%, rgba(232,102,85,1) 95%);

  font-size: 32px;
  font-weight: 500;
  color: white;
  animation-name: AnimateBG;
  animation-iteration-count: infinite;
  animation-duration: 20s;
}

@keyframes AnimateBG {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
